.panel-heading.main-subtabs-6 {
  background-color: ;
}
.panel-body.main-subtabs-6 {
  background-color: ;
}
.panel-heading.main-subtabs-5 {
  background-color: rgba(255, 228, 207, 1);
}
.panel-body.main-subtabs-5 {
  background-color: rgba(255, 158, 78, 0.05);
}
.panel-heading.main-subtabs-4 {
  background-color: rgba(249, 232, 255, 1);
}
.panel-body.main-subtabs-4 {
  background-color: rgba(215, 102, 255, 0.05);
}
.panel-heading.main-subtabs-3 {
  background-color: rgba(255, 255, 229, 1);
}
.panel-body.main-subtabs-3 {
  background-color: rgba(255,255,0, 0.05);
}
.panel-heading.main-subtabs-2 {
  background-color: rgba(226, 255, 226, 1);
}
.panel-body.main-subtabs-2 {
  background-color: rgba(0,255,0, 0.05);
}
.panel-heading.main-subtabs-1 {
  background-color: rgba(255, 240, 240, 1);
}
.panel-body.main-subtabs-1 {
  background-color: rgba(255,0,0, 0.05);
}
.panel-heading.main-subtabs-0 {
  background-color: rgba(210, 255, 255, 1);
}
.panel-body.main-subtabs-0 {
  background-color: rgba(0,255,255, 0.05);
}
.submenu-tab-6 {
  background-color: ;
}
.submenu-tab-6 .panel-heading {
  background-color: ;
}
.submenu-tab-6 .panel-body {
  background-color: ;
}
.submenu-tab-5 {
  background-color: rgba(255, 228, 207, 1);
}
.submenu-tab-5 .panel-heading {
  background-color: rgba(255, 158, 78, 0.15);
}
.submenu-tab-5 .panel-body {
  background-color: rgba(255, 158, 78, 0.05);
}
.submenu-tab-4 {
  background-color: rgba(249, 232, 255, 1);
}
.submenu-tab-4 .panel-heading {
  background-color: rgba(215, 102, 255, 0.15);
}
.submenu-tab-4 .panel-body {
  background-color: rgba(215, 102, 255, 0.05);
}
.submenu-tab-3 {
  background-color: rgba(255, 255, 229, 1);
}
.submenu-tab-3 .panel-heading {
  background-color: rgba(255,255,0, 0.15);
}
.submenu-tab-3 .panel-body {
  background-color: rgba(255,255,0, 0.05);
}
.submenu-tab-2 {
  background-color: rgba(226, 255, 226, 1);
}
.submenu-tab-2 .panel-heading {
  background-color: rgba(0,255,0, 0.15);
}
.submenu-tab-2 .panel-body {
  background-color: rgba(0,255,0, 0.05);
}
.submenu-tab-1 {
  background-color: rgba(255, 240, 240, 1);
}
.submenu-tab-1 .panel-heading {
  background-color: rgba(255,0,0, 0.15);
}
.submenu-tab-1 .panel-body {
  background-color: rgba(255,0,0, 0.05);
}
.submenu-tab-0 {
  background-color: rgba(210, 255, 255, 1);
}
.submenu-tab-0 .panel-heading {
  background-color: rgba(0,255,255, 0.15);
}
.submenu-tab-0 .panel-body {
  background-color: rgba(0,255,255, 0.05);
}
.panel-body .hint.alert {
  margin-bottom: 2px;
}
.color-description {
  border: none;
}
main-title {
  font-size: 1.5em;
}
main-title .big {
  display: inline-block;
  font-size: 1.2em;
  color: #b70005;
}
.main-container {
  padding: 10px;
}
.toggle {
  -webkit-transition: linear 1s;
  -moz-transition: linear 1s;
  -ms-transition: linear 1s;
  -o-transition: linear 1s;
  transition: linear 1s;
}
.toggle.ng-enter {
  height: 0%;
}
.toggle.ng-enter-active {
  height: 100%;
}
.toggle.ng-leave {
  height: 100%;
}
.toggle.ng-leave-active {
  height: 0%;
}
.hint-box.ng-hide-add.ng-hide-add-active,
.hint-box.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  overflow: hidden;
}
.hint-box.ng-hide {
  opacity: 0;
}
.section {
  opacity: 1;
  margin-top: 0%;
  overflow: initial;
}
.section.ng-hide-add.ng-hide-add-active,
.section.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  overflow: hidden;
}
.section.ng-hide {
  opacity: 0;
  overflow: hidden;
  margin-top: -50%;
}
.page-top-nav {
  padding: 10px;
  margin: 0;
  width: 100%;
  background-color: #92dfc1;
  position: relative;
  top: 0;
}
.page-top-nav.ng-hide-add.ng-hide-add-active,
.page-top-nav.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  overflow: hidden;
}
.page-top-nav.ng-hide {
  opacity: 0;
  overflow: hidden;
  margin-top: -50%;
  position: relative;
  display: none;
}
.blank-top {
  opacity: 1;
  margin-top: 30px;
}
.hint-button {
  font-size: 1em;
  color: black;
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.hint-button.message-active {
  color: #31708f;
  font-size: 1.3em;
  border-radius: 12px;
}
.hint-button.message-disabled {
  color: black;
  border-radius: 8px;
}
.btn-save-anchor {
  text-decoration: none;
}
.btn-save-anchor:hover {
  text-decoration: none;
}
.btn-save,
.btn-load {
  margin-right: 10px;
}
.btn-save .hint-button.message-active,
.btn-load .hint-button.message-active {
  color: white;
}
.btn-save .hint-button.message-disabled,
.btn-load .hint-button.message-disabled {
  color: #FFF7BA;
}
.main-container .main-nav .page-navigation {
  display: inline-block;
}
.quest-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #536E81;
  /**
   * Stagger Leave (hide) animation

  .tab-animation.ng-leave-stagger {
    /* this will have a 100ms delay between each successive leave animation
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }

  /**
   * Stagger ENTER ANIMATION

  .tab-animation.ng-enter-stagger {
    /* this will have a 100ms delay between each successive enter animation
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
*/
}
.quest-container .first {
  padding-top: 10px;
  background-color: #FFF7BA;
  border-radius: 10px;
}
.quest-container .second {
  border-radius: 10px;
  background-color: #ffffff;
}
.quest-container .second .submenu-tab {
  border-radius: 10px;
}
.quest-container .quest {
  border-radius: 10px;
}
.quest-container .submenu-tab {
  position: absolute;
  opacity: 1;
  overflow: initial;
  margin-top: 0%;
  margin-left: -20px;
}
.quest-container .submenu-tab.ng-hide-add.ng-hide-add-active {
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  overflow: hidden;
}
.quest-container .submenu-tab.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: margin-left ease-out 0.3s;
  transition: margin-left ease-out 0.3s;
  /*-webkit-transition:margin-top ease-out 0.3s;
      transition:margin-top ease-out 0.3s;*/
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  overflow: hidden;
}
.quest-container .submenu-tab.ng-hide {
  opacity: 0;
  overflow: hidden;
  background-color: transparent;
  margin-left: 100%;
  /* margin-top:-250%;*/
}
.quest-container .number-of-tabs-container {
  padding-top: 5px;
  padding-left: 5px;
}
.quest-container .form-container {
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: ridge 1px;
  border-left: ridge 1px;
}
.quest-container .form-container:last-of-type {
  border-bottom: ridge 1px;
}
.quest-container .even-form {
  background-color: rgba(198, 127, 0, 0.1);
}
.quest-container .thumb-image-container {
  line-height: 132px;
}
.quest-container .thumb-image-container .thumb-image {
  max-height: 125px;
  max-width: 125px;
  margin-left: 1px;
  vertical-align: middle;
}
.quest-container .tab-content {
  border-right: ridge 1px;
  border-left: ridge 1px;
}
.quest-container .left-right-border {
  border-right: ridge 1px;
  border-left: ridge 1px;
}
.quest-container .drop-file {
  border: 2px green;
  border-style: dashed;
  margin-bottom: 5px;
  padding: 0;
}
.quest-container .drop-file .drop {
  margin-right: 10px;
}
.quest-container .picture-descriptions-container {
  padding: 0;
  display: inline-block;
}
.quest-container .tab-animation {
  /*box-sizing:border-box;*/
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  opacity: 1;
}
.quest-container .tab-animation.ng-move,
.quest-container .tab-animation.ng-enter,
.quest-container .tab-animation.ng-leave {
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}
.quest-container .tab-animation.ng-leave.ng-leave-active,
.quest-container .tab-animation.ng-move,
.quest-container .tab-animation.ng-enter {
  opacity: 0;
}
.quest-container .tab-animation.ng-leave,
.quest-container .tab-animation.ng-move.ng-move-active,
.quest-container .tab-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.panel-hint {
  padding: 10px;
  margin-bottom: 0px;
}
.fanpage-hint .hint.alert.alert-info.hint-box {
  margin-bottom: 20px;
}
.save-load-container {
  margin-top: 10px;
}
.file-input-container {
  float: left;
}
.buttons {
  min-height: 50px;
}
#cube-template {
  background-color: inherit;
  width: inherit;
  height: inherit;
}
#cube-template .logo {
  z-index: 100;
  position: absolute;
  float: left;
  background-color: red;
  background-image: url('http://placehold.it/168x84');
  width: 168px;
  height: 84px;
}
#cube-template .main-nav .navbar-top {
  position: absolute;
}
#cube-template .main-nav .container .navbar-collapse .navbar-nav .page-navigation li.page-navigation-main-tabs {
  display: inline;
  font-size: 2em;
}
