<div class="col-sm-12 form-container" ng-class-even="'even-form'">
    <label for="exampleInputFile">Select picture from disc:</label>
    <div class="drop-file col-sm-9" flow-drop>
        <span class="btn btn-success" flow-btn>Upload File</span>
        <span class="btn btn-success" flow-btn flow-directory ng-if="gallery">Upload Directory</span>
        <span class="pull-right drop"><b>OR</b>
        Drag And Drop your images here</span>
    </div>
    <div class="thumb-image-container col-sm-3 pull-right">
        <img flow-img="$flow.files[$index]" class="thumb-image"/>
    </div>
    <div class="picture-descriptions-container col-sm-9 pull-left">
        <input type="text" class="form-control picture-title-{{$index}}"
               placeholder="Photo title"  ng-model="model.title">
        <textarea class="form-control picture-description-{{$index}}" rows="2"
                  placeholder="Photo description"  ng-model="model.description"></textarea>
    </div>
</div>