<div class="panel panel-default">
    <div class="panel-heading">  
        <label>Facebook fanpage <hint-button name="fanpage"></hint-button></label>
    </div>

    <div class="panel-body" >
        <hint-box class="fanpage-hint" name="fanpage"> Fill this if you have a facebook fanpage which is referring to your site</hint-box>
        <input type="url" class="form-control" placeholder="fanpage url" ng-model="fanpage.url">
            <label>Show fanpage followers:</label>
            <div  class="radio" ng-model="fanpage.followers">
                <label><input  type="radio" name="optionsRadios" id="optionsRadios1" checked>None</label>
                <label><input type="radio" name="optionsRadios" id="optionsRadios2">Like-box</label>
                <label><input  type="radio" name="optionsRadios" id="optionsRadios3">Facepile</label>
            </div>
            <label><input type="checkbox" ng-model="fanpage.likeButton"> Like button</label>
    </div>
</div>
