<!DOCTYPE html>
<html lang="en" >
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular-route.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/flow.js"></script>
    <script src="js/ng-flow.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/tinymce.min.js"></script>
    <script>
        function text(){tinymce.init({selector:'textarea-wysiwyg'});}
       
    </script>
    <title>Epic Mockup</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-app="mainApp" ng-controller="MainCtrl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
    <div ng-controller="QuestCtrl" class="col-sm-12 quest-container section" ng-show="section.quest">
        <form role="form" class="col-sm-6 " ng-click="text()">
            <div class="first col-xs-12">
              <!-- <tab name="main-menu" scope="mainTabs" level="tabs" number="" ng-init="init()"></tab>-->
            <div class="quest">
                <div ng-include="'summary.html'"></div>
                <tab name="mainTabs"></tab>
                <div ng-include="'facebook.html'"></div>
           <!--     <label><input type="checkbox" ng-model="save" ng-change="addDownload(save)">Save</label>
-->


                <div class="buttons">
                    <div flow-init=""  flow-files-submitted="file.load($flow)" class="ng-scope col-sm-12 flow-container">
                        <div class="drop-container">
                                <span class="btn btn-success btn-load pull-left" flow-btn="">Load <hint-button name="'load'"></hint-button><input type="file" multiple="false" style="visibility: hidden; position: absolute;"></span>
                        </div>
                    <button type="button" id="btn-generate" class="btn btn-primary pull-right btn-generate" ng-click="generate()">Generate</button>
                    <a ng-mousedown="file.compute($event)" id="btn-save-anchor">
                        <button type="button" class="btn btn-success btn-save pull-right" ng-click="">Save <hint-button name="'save'"></hint-button></button>
                    </a>
                    </div>
                </div>

                <div class="save-load-container">
                    <hint-box name="'save'">
                        <div class="panel panel-default panel-hint">
                            <div class="panel-body">
                                You can save the data that include pictures and videos on your local drive.
                            </div>
                        </div>
                    </hint-box>
                    <hint-box name="'load'">
                        <div class="panel panel-default panel-hint">
                            <div class="panel-body">
                                You can load the file with all the data from your local drive.
                            </div>
                        </div>
                    </hint-box>
              </div>


            </div>
        </div>
        </form>

        <form role="form" class="col-sm-6 ">
            <div  ng-repeat="tab in mainTabs.tab"  class="submenu second">
                <div class="submenu-tab-{{$index}} submenu-tab  col-sm-12"  ng-show="(mainTabs.tab[$index].numberOfTabs!=0) && ($index==mainTabs.activeMainTab)">
                  <div class="quest ">
                    <tab name = "tab"   index ="$index" ></tab>
                  </div>
              </div>
            </div>
        </form>
        <div class="col-sm-12">
                <hr>
        </div>
    </div>
    <div ng-controller="PageCtrl" class="page-container" ng-show="section.page">
        <div class="second">
            <div class="page-top-nav" ng-show="section.page">
                <div ng-include="'pageTopNav.html'"></div>
            </div>
        </div>
        <div class="page" ng-show="section.page">
                <div ng-include="'cubeTemplate.html'"> </div>
        </div>
    </div>


</body>
</html>
    
