// variables
@main-tabs-num: 7;
@sub-tabs-num: 7;
@main-tabs-colors-head: 'rgba(0,255,255, 0.2)',
                        'rgba(255,0,0, 0.2)',
                        'rgba(0,255,0, 0.2)',
                        'rgba(255,255,0, 0.2)',
                        'rgba(215, 102, 255, 0.2)',
                        'rgba(255, 158, 78, 0.2)';

@main-tabs-colors-body: 'rgba(0,255,255, 0.05)',
                        'rgba(255,0,0, 0.05)',
                        'rgba(0,255,0, 0.05)',
                        'rgba(255,255,0, 0.05)',
                        'rgba(215, 102, 255, 0.05)',
                        'rgba(255, 158, 78, 0.05)';

@sub-tabs-colors-head: 'rgba(0,255,255, 0.15)',
                        'rgba(255,0,0, 0.15)',
                        'rgba(0,255,0, 0.15)',
                        'rgba(255,255,0, 0.15)',
                        'rgba(215, 102, 255, 0.15)',
                        'rgba(255, 158, 78, 0.15)';


// mixin with a guard to create a series of bamboo tiles
.makeTitles(@i) when (@i > 0) {
    @title-value: @i - 1;
    // create the current tile rule
    .panel-heading.main-subtabs-@{title-value} {
        background-color: e(extract(@main-tabs-colors-head, @i));;
    }
    .panel-body.main-subtabs-@{title-value} {
        background-color: e(extract(@main-tabs-colors-body, @i));;
    }
 
     // next iteration
    .makeTitles((@i - 1));
}
 
// create bamboo tiles numbered 0-8
.makeTitles(@main-tabs-num);

// mixin with a guard to create a series of bamboo tiles
.makeTiles(@i) when (@i > 0) {
    @tile-value: @i - 1;
    // create the current tile rule
    .submenu-tab-@{tile-value}
    {
        background-color: e(extract(@main-tabs-colors-head, @i));
        .panel-heading {
            background-color: e(extract(@sub-tabs-colors-head, @i));
        }
        .panel-body {
            background-color: e(extract(@main-tabs-colors-body, @i));
        }
    }
 
     // next iteration
    .makeTiles((@i - 1));
}
 
// create bamboo tiles numbered 0-8
.makeTiles(@sub-tabs-num);

.panel-body{
    .hint.alert{
        margin-bottom: 2px;
    }
}

.color-description{
    border: none;
}


main-title{
    font-size: 1.5em;
    .big{
        display: inline-block;
        font-size: 1.2em;
        color: rgb(183, 0, 5);
    }
}


.first{
}

.second{

}

.main-container{
    padding:10px;
}

.toggle{
  -webkit-transition: linear 1s;
  -moz-transition: linear 1s;
  -ms-transition: linear 1s;
  -o-transition: linear 1s;
  transition: linear 1s;
}

.toggle.ng-enter{
  height: 0%;
}

.toggle.ng-enter-active{
  height: 100%;
}

.toggle.ng-leave{
  height: 100%;
}

.toggle.ng-leave-active{
  height: 0%;
}


.hint-box{

}

.hint-box.ng-hide-add.ng-hide-add-active,
.hint-box.ng-hide-remove.ng-hide-remove-active{
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  overflow: hidden;
}

.hint-box.ng-hide{
  opacity: 0;
}


.section{
  opacity: 1;
  margin-top: 0%;
  overflow: initial;
}

.section.ng-hide-add.ng-hide-add-active,
.section.ng-hide-remove.ng-hide-remove-active{
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  overflow: hidden;
}

.section.ng-hide{
  opacity: 0;
  overflow: hidden;
  margin-top: -50%;
}

.page-top-nav{
  padding: 10px;
  margin:0;
  width:100%;
  background-color: #92dfc1;
  position: relative;
  top:0;
}

.page-top-nav.ng-hide-add.ng-hide-add-active,
.page-top-nav.ng-hide-remove.ng-hide-remove-active{
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  overflow: hidden;
}

.page-top-nav.ng-hide{
  opacity: 0;
  overflow: hidden;
  margin-top: -50%;
  position: relative;
  display:none;
}

.blank-top{
  opacity:  1;
  margin-top:30px;
}

.page{

}

.hint-button{
  background-color: rgba(255,255,255,1);
  border-radius: 22px;
  font-size: 1em;
  color: black;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 02s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;

  &.message-active{
      color: rgb(49, 112, 143);
      font-size: 1.3em;
      border-radius: 33px;
  }
  &.message-disabled{
      color: black;
      border-radius: 22px;
  }
}

.btn-save-anchor{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.btn-save, .btn-load{
  margin-right: 10px;
  .hint-button{
    &.message-active {
      color: rgb(183, 0, 5);
    }
  }
}

//cube
.main-container{
  .main-nav{
    .page-navigation{
      display: inline-block;
    }
  }
}

.quest-container{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(63, 240, 12, 0.60);
  .first{
    background-color: rgb(255, 253, 205);
    border-radius: 10px;
  }
  .second{
    background-color:white;
    border-radius: 10px;
  }

  .quest{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 10px;

  }
  .second{
  //  border-bottom-right-radius: 5px;
   // border-top-right-radius: 5px;

    .quest{

    }
  }
}

.panel-hint{
  padding: 10px;
  margin-bottom: 0px;
}
.fanpage-hint {
  .hint.alert.alert-info.hint-box {
    margin-bottom: 20px;
  }
}
.save-load-container{
  margin-top:10px;
}

.file-input-container{
  float: left;

}
.buttons{
  min-height: 50px;
}