.panel-heading.main-subtabs-6 {
  background-color: ;
}
.panel-body.main-subtabs-6 {
  background-color: ;
}
.panel-heading.main-subtabs-5 {
  background-color: rgba(255, 158, 78, 0.2);
}
.panel-body.main-subtabs-5 {
  background-color: rgba(255, 158, 78, 0.05);
}
.panel-heading.main-subtabs-4 {
  background-color: rgba(215, 102, 255, 0.2);
}
.panel-body.main-subtabs-4 {
  background-color: rgba(215, 102, 255, 0.05);
}
.panel-heading.main-subtabs-3 {
  background-color: rgba(255,255,0, 0.2);
}
.panel-body.main-subtabs-3 {
  background-color: rgba(255,255,0, 0.05);
}
.panel-heading.main-subtabs-2 {
  background-color: rgba(0,255,0, 0.2);
}
.panel-body.main-subtabs-2 {
  background-color: rgba(0,255,0, 0.05);
}
.panel-heading.main-subtabs-1 {
  background-color: rgba(255,0,0, 0.2);
}
.panel-body.main-subtabs-1 {
  background-color: rgba(255,0,0, 0.05);
}
.panel-heading.main-subtabs-0 {
  background-color: rgba(0,255,255, 0.2);
}
.panel-body.main-subtabs-0 {
  background-color: rgba(0,255,255, 0.05);
}
.submenu-tab-6 {
  background-color: ;
}
.submenu-tab-6 .panel-heading {
  background-color: ;
}
.submenu-tab-6 .panel-body {
  background-color: ;
}
.submenu-tab-5 {
  background-color: rgba(255, 158, 78, 0.2);
}
.submenu-tab-5 .panel-heading {
  background-color: rgba(255, 158, 78, 0.15);
}
.submenu-tab-5 .panel-body {
  background-color: rgba(255, 158, 78, 0.05);
}
.submenu-tab-4 {
  background-color: rgba(215, 102, 255, 0.2);
}
.submenu-tab-4 .panel-heading {
  background-color: rgba(215, 102, 255, 0.15);
}
.submenu-tab-4 .panel-body {
  background-color: rgba(215, 102, 255, 0.05);
}
.submenu-tab-3 {
  background-color: rgba(255,255,0, 0.2);
}
.submenu-tab-3 .panel-heading {
  background-color: rgba(255,255,0, 0.15);
}
.submenu-tab-3 .panel-body {
  background-color: rgba(255,255,0, 0.05);
}
.submenu-tab-2 {
  background-color: rgba(0,255,0, 0.2);
}
.submenu-tab-2 .panel-heading {
  background-color: rgba(0,255,0, 0.15);
}
.submenu-tab-2 .panel-body {
  background-color: rgba(0,255,0, 0.05);
}
.submenu-tab-1 {
  background-color: rgba(255,0,0, 0.2);
}
.submenu-tab-1 .panel-heading {
  background-color: rgba(255,0,0, 0.15);
}
.submenu-tab-1 .panel-body {
  background-color: rgba(255,0,0, 0.05);
}
.submenu-tab-0 {
  background-color: rgba(0,255,255, 0.2);
}
.submenu-tab-0 .panel-heading {
  background-color: rgba(0,255,255, 0.15);
}
.submenu-tab-0 .panel-body {
  background-color: rgba(0,255,255, 0.05);
}
.panel-body .hint.alert {
  margin-bottom: 2px;
}
.color-description {
  border: none;
}
main-title {
  font-size: 1.5em;
}
main-title .big {
  display: inline-block;
  font-size: 1.2em;
  color: #b70005;
}
.main-container {
  padding: 10px;
}
.toggle {
  -webkit-transition: linear 1s;
  -moz-transition: linear 1s;
  -ms-transition: linear 1s;
  -o-transition: linear 1s;
  transition: linear 1s;
}
.toggle.ng-enter {
  height: 0%;
}
.toggle.ng-enter-active {
  height: 100%;
}
.toggle.ng-leave {
  height: 100%;
}
.toggle.ng-leave-active {
  height: 0%;
}
.hint-box.ng-hide-add.ng-hide-add-active,
.hint-box.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  overflow: hidden;
}
.hint-box.ng-hide {
  opacity: 0;
}
.section {
  opacity: 1;
  margin-top: 0%;
  overflow: initial;
}
.section.ng-hide-add.ng-hide-add-active,
.section.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  overflow: hidden;
}
.section.ng-hide {
  opacity: 0;
  overflow: hidden;
  margin-top: -50%;
}
.page-top-nav {
  padding: 10px;
  margin: 0;
  width: 100%;
  background-color: #92dfc1;
  position: relative;
  top: 0;
}
.page-top-nav.ng-hide-add.ng-hide-add-active,
.page-top-nav.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  overflow: hidden;
}
.page-top-nav.ng-hide {
  opacity: 0;
  overflow: hidden;
  margin-top: -50%;
  position: relative;
  display: none;
}
.blank-top {
  opacity: 1;
  margin-top: 30px;
}
.hint-button {
  background-color: #ffffff;
  border-radius: 22px;
  font-size: 1em;
  color: black;
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.hint-button.message-active {
  color: #31708f;
  font-size: 1.3em;
  border-radius: 33px;
}
.hint-button.message-disabled {
  color: black;
  border-radius: 22px;
}
.btn-save-anchor {
  text-decoration: none;
}
.btn-save-anchor:hover {
  text-decoration: none;
}
.btn-save,
.btn-load {
  margin-right: 10px;
}
.btn-save .hint-button.message-active,
.btn-load .hint-button.message-active {
  color: #b70005;
}
.main-container .main-nav .page-navigation {
  display: inline-block;
}
.quest-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(63, 240, 12, 0.6);
}
.quest-container .first {
  background-color: #fffdcd;
  border-radius: 10px;
}
.quest-container .second {
  background-color: white;
  border-radius: 10px;
}
.quest-container .quest {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.panel-hint {
  padding: 10px;
  margin-bottom: 0px;
}
.fanpage-hint .hint.alert.alert-info.hint-box {
  margin-bottom: 20px;
}
.save-load-container {
  margin-top: 10px;
}
.file-input-container {
  float: left;
}
.buttons {
  min-height: 50px;
}
