          <div class="form-group">
            <label for="tabsNumber" ng-show="pointer.scope.numberOfTabs">
                <hint-button ng-if="pointer.level=='tabs'" name="'mainMenu'"></hint-button>
                <main-title>Select number of <div class="big">{{pointer.scope.name}}</div> {{pointer.level}}: </main-title>
            </label>
            <hint-box ng-if="pointer.level=='tabs'" name="'mainMenu'">
                <div class="panel panel-default panel-hint">
                    <div class="panel-body">
                         Select number of items in main navigation bar (menu)
                    </div>
                </div>
            </hint-box>
<!--select number of tabs-->
            <select  class="form-control " ng-model = "pointer.scope.numberOfTabs" ng-options="i for i in ([1,2,3,4,5,6,7] | limitTo : constants.mainTabsNumber)" ng-change="pointer.scope.update(pointer.scope.numberOfTabs)" ng-show="pointer.scope.numberOfTabs"></select>
        </div>
        <div class="form-group">
<!--give names to tabs-->
            <input type="text" ng-repeat="i in [] | range:pointer.scope.numberOfTabs" class="tab-animation form-control name-{{pointer.tabNumber}}{{i}} {{pointer.level}} " placeholder="Tab {{i+1}} name" ng-model="pointer.scope.tab[i].name">
        </div>       
<!--tab body-->
        <div class="form-group tabs" ng-class="{'main-tabs': pointer.level=='tabs' , 'sub-tabs': pointer.level=='subtabs'}">
            <div class="panel-group" id="accordion">
<!--generation of tab body-->
             <div class="panel panel-default tab-animation "  ng-repeat="i in [] | range:pointer.scope.numberOfTabs" id="panel{{pointer.tabNumber}}{{i}}" ng-click="pointer.scope.selectActiveMainTab(pointer.level, i)">
<!--selecting a class of tab accordingly to its parent tab-->
                 <div  class="panel-heading"  ng-class="{'main-subtabs-{{i}}': subtabsCheckbox }">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapse{{i}}" href="#collapse{{i}}"  ng-model="panelHeading" ng-init="panelHeading=true"  ng-click="panelHeading=!panelHeading">
                            Description of tab {{pointer.scope.tab[i].name}} 
                            <span class="col-xs-2 glyphicon" ng-class="{' glyphicon-chevron-up': panelHeading, ' glyphicon-chevron-down': !panelHeading }"></span> 
                            <span ng-if="pointer.level=='tabs'" class="badge pull-right " ng-show="subtabsCheckbox">{{pointer.scope.tab[i].numberOfTabs}}</span>
                        </a>
                    </h4>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse in">
                    <div class="panel-body"  ng-class="{'main-subtabs-{{i}}': subtabsCheckbox }">
<!--generation of subtabs -->
                        <label>
                            <input  type="checkbox" ng-model="subtabsCheckbox">
                            Subtabs
                        </label>
                        <hint-button name="'subTabs'" ng-if="pointer.level=='tabs' && $index==0"></hint-button>
                        <input ng-if="pointer.level=='tabs'"  ng-show="subtabsCheckbox" type="number" min="0" max="{{constants.subTabsNumber}}" ng-model="pointer.scope.tab[i].numberOfTabs" ng-change="pointer.scope.tab[i].update(pointer.scope.tab[i].numberOfTabs)">
                        <hint-box name="'subTabs'"  ng-if="pointer.level=='tabs' && $index==0 ">
                            Select if you wish to have a submenu in this tab
                        </hint-box>
                        <div ng-if="pointer.level=='tabs'">
                            <small ng-show="subtabsCheckbox">When you leave all of below blank it will be considered just as a name for subtabs</small>
                        </div>
<!--tab body-->
                        <label for="tab{{i+1}}-text"> Main text:</label>
                        <textarea class="form-control main-text-{{i}}" rows="3" class="main-text-{{i}}  {{pointer.level}}" placeholder="Input text here" ng-model="pointer.scope.tab[i].mainText"></textarea>
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="photoCheckbox">Photo</label>
                            <label><input type="checkbox" ng-model="videoCheckbox">Video</label>
                            <label><input type="checkbox" ng-model="galleryCheckbox">Gallery</label>
                            <label><input type="checkbox" ng-model="contactCheckbox">Contact Form</label>
                            <hint-button ng-if="pointer.level=='tabs' && $index==0" name="contact"></hint-button>
                        </div>
                        <hint-box ng-if="pointer.level=='tabs' && $index==0" name="contact">Select what kind of additional content you wish to have</hint-box>
                        <ul class="nav nav-tabs" role="tablist">
                            <li ng-show="photoCheckbox" class="active"><a data-toggle="tab" href="#photo{{pointer.level}}{{pointer.tabNumber}}{{i}}">Photo</a></li>
                            <li ng-show="videoCheckbox"><a data-toggle="tab" href="#video{{pointer.level}}{{pointer.tabNumber}}{{i}}">Video</a></li>
                            <li ng-show="galleryCheckbox"><a data-toggle="tab" href="#gallery{{pointer.level}}{{pointer.tabNumber}}{{i}}">Gallery</a></li>
                            <li ng-show="contactCheckbox"><a data-toggle="tab" href="#contact{{pointer.level}}{{pointer.tabNumber}}{{i}}">Contact</a></li>
                            
                        </ul>
<!-- photos -->                     
                        <div class="tab-content">
                            <div id="photo{{pointer.level}}{{pointer.tabNumber}}{{i}}" class="tab-pane fade in active" ng-show="photoCheckbox">
                                <label for="exampleInputFile" class="col-sm-12 select-pictures-label">Select up to 3 pictures from a disc:</label>
                                <div flow-init="" ng-init="pointer.scope.tab[i].pictures.list=$flow" flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope col-sm-12 flow-container border-left-right">
                                    <div class="drop-container">
                                        <div class="drop-file col-sm-12 drop" flow-drop="" ng-class="dropClass">
                                            <span class="btn btn-success" flow-btn="">Upload Image<input type="file" multiple="multiple" style="visibility: hidden; position: absolute;"></span>
                                            <span class="btn btn-success" flow-btn="" flow-directory="" ng-show="$flow.supportDirectory">Upload Folder of Images</span>
                                            <b>OR</b>
                                            Drag And Drop your images here
                                        </div>
                                    </div>

                                    <!-- ngRepeat: file in $flow.files --><div ng-repeat="file in $flow.files" class="gallery-box ng-scope col-sm-12 no-padding margin-top-bottom margin-left-right" ng-class="{'too-many' : ($index>=constants.maxPictures)}">




                                    <div class="thumb-image-container col-sm-3" ng-show="$flow.files.length">
                                        <div class="thumb">
                                            <!--<div ng-style="{'background-image':'url({{file.file}}'}">-->
                                            <img flow-img="file" class="thumb-image"/>
                                            <div class="number" ng-class="{'too-many' : ($index>=constants.maxPictures)}">
                                                {{$index+1}}
                                            </div>
                                           <!--</div>-->
                                            <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                                                Remove
                                            </a>

                                        </div>
                                    </div>
                                    <div class="picture-descriptions-container col-sm-9">
                                        <input type="text" class="form-control picture-title-{{$index}}"
                                               placeholder="Photo title"  ng-model="file.title">
                                        <textarea class="form-control picture-description-{{$index}}" rows="3"
                                                  placeholder="Photo description"  ng-model="file.description"></textarea>
                                    </div>
                                </div><!-- end ngRepeat: file in $flow.files -->
                                    <div class="clear"></div>
                                </div>
                            </div>
<!--videos -->
                            <div id="video{{pointer.level}}{{pointer.tabNumber}}{{i}}" class="tab-pane fade " ng-show="videoCheckbox">
                                <br>
                                <input type="url" class="form-control video-url-{{i}}" placeholder="Video url" ng-model="pointer.scope.tab[i].video.file">
                                <input type="text" class="form-control video-title-{{i}}" placeholder="Video title" ng-model="pointer.scope.tab[i].video.title">
                                <textarea class="form-control video-description-{{i}}" rows="2" placeholder="Video description" ng-model="pointer.scope.tab[i].video.description"></textarea>
                            </div>     
<!--gallery-->
                            <div id="gallery{{pointer.level}}{{pointer.tabNumber}}{{i}}"  class="tab-pane fade"  ng-show="galleryCheckbox">
                                <div class="number-of-tabs-container">
                                     <label for="tab{{i+1}}">Number of pictures in a gallery:</label>
                                     <input type="number" min="2" max="20" ng-model="galleryNumber"  ng-init="galleryNumber=pointer.scope.tab[i].gallery.init()" ng-change="pointer.scope.tab[i].gallery.update(galleryNumber)">
                                </div>
                                <div flow-init flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                                    <div class="form-group gallery{{i}}" ng-repeat="pic in pointer.scope.tab[i].gallery.list">
                                        <div class="col-sm-12 form-container" ng-class-even="'even-form'">
                                            <label for="exampleInputFile">Select picture from disc:</label>
                                            <div class="drop-file col-sm-9" flow-drop>
                                                <span class="btn btn-success" flow-btn>Upload File</span>
                                                <span class="btn btn-success" flow-btn flow-directory>Upload Directory</span>
                                                <span class="pull-right drop" flow-drag-enter="drop-on"><b>OR</b>
                                                Drag And Drop your images here</span>
                                            </div>
                                            <div class="thumb-image-container col-sm-3 pull-right">
                                                <img flow-img="$flow.files[$index]" class="thumb-image"/>
                                            </div>
                                            <div class="picture-descriptions-container col-sm-9 pull-left">
                                                <input type="text" class="form-control picture-title-{{$index}}"
                                                       placeholder="Photo title"  ng-model="pic.title">
                                                <textarea class="form-control picture-description-{{$index}}" rows="2"
                                                          placeholder="Photo description"  ng-model="pic.description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--contact-->
                            <div id="contact{{pointer.level}}{{pointer.tabNumber}}{{i}}" class="tab-pane fade " ng-show="contactCheckbox">
                                <br>
                                <textarea class="form-control contact-general-{{i}}" rows="3" placeholder="General contact informations" ng-model="pointer.scope.tab[i].contact.general"></textarea>
                                <input type="email" class="form-control contact-email-{{i}}" placeholder="email address"  ng-model="pointer.scope.tab[i].contact.email">
                                <input type="phone" class="form-control contact-phone-{{i}}" placeholder="phone number"  ng-model="pointer.scope.tab[i].contact.phone">
                                <label><input type="checkbox" ng-model="facebookSite">Facebook</label>
                                <label><input type="checkbox" ng-model="youtubeSite">Youtube</label>
                                <label><input type="checkbox" ng-model="twitterSite">Twitter</label>
                                <label><input type="checkbox" ng-model="map">Map</label>
                                <input type="url" class="form-control contact-facebook-{{i}}" placeholder="facebook url" ng-show="facebookSite"  ng-model="pointer.scope.tab[i].contact.facebook">
                                <input type="url" class="form-control contact-youtube-{{i}}" placeholder="youtube url" ng-show="youtubeSite"  ng-model="pointer.scope.tab[i].contact.youtube">  
                                <input type="url" class="form-control contact-twitter-{{i}}" placeholder="twitter @" ng-show="twitterSite" ng-model="pointer.scope.tab[i].contact.twitter">
                                <input type="number" step="any"  class="form-control contact-x-pos-{{i}}" placeholder="X-pos" ng-show="map"  ng-model="pointer.scope.tab[i].contact.xpos">
                                <input type="number" step="any"  class="form-control contact-y-pos-{{i}}" placeholder="Y-pos" ng-show="map"  ng-model="pointer.scope.tab[i].contact.ypos">
                            </div>
                        </div>  
                    </div>                
                 </div>                      
               </div>        
            </div>
        </div>